<div class="container-fluid">
  <section>
    <div class="row">
        <div class="login-header">
            <div class="alinger">
                <div class="aligner-item-center">
                    <img [src]="logo_url" class="theme-logo">
                </div>
            </div>
        </div>
      <div class="spacer"></div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-sm-4 col-sm-offset-4">
        <br/>
        <strong class="text-lg font-weight-bold">Login</strong>
        <br/><br/>

        <div class="row">
        <div class="col-md-11" *ngIf="show_login">

        <form class="form" [formGroup]="loginFormGroup" #loginForm="ngForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
              <mat-form-field class="d-block" [color]="'accent'">
                <input matInput
                       type="email"
                       id="username"
                       placeholder="Username"
                       formControlName="username_ctrl" />
                <mat-error>{{getEmailErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="d-block" [color]="'accent'">
              <input matInput
                 type="password"
                 id="password"
                 placeholder="Password"
                 formControlName="password_ctrl" />
              <mat-error>{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="d-block" [color]="'accent'">
              <mat-select placeholder="Language"  formControlName="language_ctrl">
                <mat-option *ngFor="let data of localeList" [value]="data.key">
                  {{data.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
                <mat-checkbox required formControlName="terms_ctrl">
                  <small>By Signing in, you confirm that you accept our
                  <a href="{{tcUrl}}" target="blank">Terms of Service</a>
                  and
                  <a href="{{ppUrl}}" target="blank">Privacy Policy</a>
                  </small>
                </mat-checkbox>
          </div>

          <div>
              <button mat-stroked-button color="accent" type="submit" [disabled]="!loginForm.form.valid">Login</button>
          </div>
        </form>

        </div>
        </div>

      </div>
    </div>
  </section>
</div>
