<div class="container-fluid px-0">
    <div class="row mx-0">
        <app-header class="col-md-12 px-0"></app-header>
	    <div class="col-md-12 px-0" style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
