<div class="col-md-12 text-center mt-5" style="height: 100vh;">
      <img src="../../../assets/img/404.png" style="height: 433px; width: 1035px;">
      <h3 class="text-secondary">Page Not Found</h3>
      <button mat-stroked-button (click)="goBack()">Go Back <i class="material-icons">reply_all</i></button>
</div>