<div class="{{class}} font-text">
    <button type="button" mat-flat-button class="mat-stroked-button" id={{id}} name={{name}}>
        <span class="width-100">
          <i class="fa fa-calendar padding-top-5" aria-hidden="true"></i>
          <span> &nbsp; {{selected_date}}</span>
        </span>
    </button>
</div>
