<nav class="navbar navbar-expand-lg navbar-light  col-md-12 border-bottom pb-0 mi-header">
  <a class="navbar-brand mr-auto">
    <img [src]="header_logo" class="d-inline-block align-top header-logo" alt="">
  </a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Menu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav font-heading">
      <li *ngFor="let menu of mi_menus" routerLinkActive="active" [class]="(menu.sub_menus && menu.sub_menus.length > 0) ? 'nav-item dropdown px-1' : 'nav-item px-1'" id="{{menu.locale_text}}">
        <div *ngIf="menu.sub_menus && menu.sub_menus.length > 0; then nested else single"></div>
        <ng-template #single>
          <a href="javascript:void(0);" routerLink="{{menu.url}}" class="nav-link font-weight-normal">
            <span class="title d-inline">{{menu.locale_text | titlecase}}</span>
          </a>
        </ng-template>
        <ng-template #nested>
          <a class="nav-link dropdown-toggle font-weight-normal" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="title d-inline">{{menu.locale_text | titlecase}}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngFor="let sub_menu of menu.sub_menus" href="javascript:void(0);" routerLink="{{sub_menu.url}}" routerLinkActive="active">
              <span class="title">{{sub_menu.locale_text | titlecase}}</span>
            </a>
          </div>
        </ng-template>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="menu">
          Hi, {{user_name | titlecase}}
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <a mat-menu-item [routerLink]="['/logout']">Logout</a>
        </mat-menu>
      </li>

    </ul>
  </div>
</nav>
