@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';


@include mat-core();

$bv-brand-p: (
        50: #ffffff, //Unchanged
        100: #ff7961,
        200: #b4c9e4, //Unchanged
        300: #7fa3d1, //Unchanged
        400: #6992c9, //Unchanged
        500: #f44336,
        600: #4072b4, //Unchanged
        700: #38649d, //Unchanged
        800: #305687, //Unchanged
        900: #ba000d,
        A100: #ffffff, //Unchanged
        A200: #dde6f3, //Unchanged
        A400: #6992c9, //Unchanged
        A700: #38649d, //Unchanged
        contrast: (
                50: $black-87-opacity, //Unchanged
                100: $black-87-opacity, //Unchanged
                200: $black-87-opacity, //Unchanged
                300: $black-87-opacity, //Unchanged
                400: $black-87-opacity, //Unchanged
                500: white, //Unchanged
                600: white, //Unchanged
                700: white, //Unchanged
                800: white, //Unchanged
                900: white, //Unchanged
                A100: $black-87-opacity, //Unchanged
                A200: $black-87-opacity, //Unchanged
                A400: $black-87-opacity, //Unchanged
                A700: white, //Unchanged
        )
);

$bv-brand-s: (
        50: #ffffff, //Unchanged
        100: #dde6f3, //Unchanged
        200: #b4c9e4, //Unchanged
        300: #7fa3d1, //Unchanged
        400: #6992c9, //Unchanged
        500: #5282c1, //Unchanged
        600: #4072b4, //Unchanged
        700: #38649d, //Unchanged
        800: #305687, //Unchanged
        900: #313c41,
        A100: #ffffff, //Unchanged
        A200: #5b666c,
        A400: #0a161b,
        A700: #38649d, //Unchanged
        contrast: (
                50: $black-87-opacity, //Unchanged
                100: $black-87-opacity, //Unchanged
                200: $black-87-opacity, //Unchanged
                300: $black-87-opacity, //Unchanged
                400: $black-87-opacity, //Unchanged
                500: white, //Unchanged
                600: white, //Unchanged
                700: white, //Unchanged
                800: white, //Unchanged
                900: white, //Unchanged
                A100: $black-87-opacity, //Unchanged
                A200: $black-87-opacity, //Unchanged
                A400: $black-87-opacity, //Unchanged
                A700: white, //Unchanged
        )
);

$primary: mat-palette($bv-brand-p, 500);
$accent:  mat-palette($bv-brand-s, 900, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();

$rollr: mat-light-theme($primary, $accent, $warn);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  min-height: 100%;
  background-color: white;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover
{
  color: mat-color($primary);
}
.login-header {
  background: mat-color($primary) url("./assets/img/rollr_login_bg.png") no-repeat fixed 0% 0%; height:33vh;
  width: 100%;
}
//Height Width according to given logo properties
.header-logo {
  width:147px;
  height:31px;
}
//Height Width according to given logo properties
.theme-logo{
  height: 85px;
  width: 512px;
}
//Menubar CSS START
.mi-header.navbar-light .navbar-nav .active>.nav-link,
.mi-header.navbar-light .navbar-nav .nav-link.active{
  color: mat-color($primary);
  border-bottom: 3px solid mat-color($primary);
}
.mi-header.navbar-light a:active {
  background-color: transparent;
  color: #212529  ;
}
.mi-header.navbar-light .dropdown-item.active,
.mi-header.navbar-light.dropdown-item:active {
  background-color: mat-color($primary);
}
//Menubar CSS END

//dateRangePicker CSS Start
.daterangepicker .ranges li.active {
  background-color: mat-contrast($primary, 100) !important;
  color: #fff;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: mat-color($primary) !important;
  border-color: transparent;
  color: #fff;
}
li.breadcrumb-item.active a {
  color: mat-color($accent)!important;
}
