<div mat-dialog-title>
  <div class="row">
    <div class="text-center col-md-11">
      Debug Data
    </div>
    <div class="col-md-1">
      <button mat-icon-button color="accent" matDialogClose cdkFocusInitial>
        <i class="material-icons" style="font-size: 18px;">close</i></button>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div class="table-responsive">
    <table class="table table-hover" style="font-size: 12px;">
      <thead>
      <tr>
        <th>Event Time</th>
        <th>Data Received Time</th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let obj of data.debugData">
        <td style="max-width: 10vw;"><div>{{obj.timestamp | midateformat : 'mediumTime'}}, </div> <div> {{obj.timestamp | midateformat : 'mediumDate'}}</div></td>
        <td style="max-width: 10vw;"><div>{{obj.received_on | date : 'hh:mm:ss a'}}, </div> <div>  {{obj.received_on | date : 'dd MMM, yyyy'}}</div></td>
        <td style="word-break:break-all;max-width: 55vw;">{{obj.data}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
