<div class="device-list">
  <div class="col-md-12 border-bottom px-0">
    <div class="pt-3 row mx-0 pl-0">
      <div class="col-md-2 pl-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item active" aria-current="page">Devices</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-10">
        <form class="row" [formGroup]="vehicleListFilter">
          <mat-form-field class="col-md-2 px-2" appearance="outline" [color]="'accent'">
            <mat-label>{{"search serial number" | titlecase }}</mat-label>
            <input matInput
                   type="text"
                   id="serial_number"
                   formControlName="serial_number"
                   (input)="onSearchPress($event.target.value, 'serial_number')"
            />
          </mat-form-field>
          <mat-form-field class="col-md-2 px-2" appearance="outline" [color]="'accent'">
            <mat-label>{{"search mobile" | titlecase}}</mat-label>
            <input matInput
                   type="phone"
                   id="phone"
                   formControlName="mobile"
                   (input)="onSearchPress($event.target.value, 'mobile')"
            />
          </mat-form-field>
          <mat-form-field class="col-md-2 px-2" appearance="outline" [color]="'accent'">
            <mat-label>{{"search imsi number" | titlecase}}</mat-label>
            <input matInput
                   type="text"
                   id="imsi"
                   formControlName="imsi"
                   (input)="onSearchPress($event.target.value, 'imsi')"
            />
          </mat-form-field>
          <mat-form-field class="col-md-2 px-2" appearance="outline" [color]="'accent'">
            <mat-label>{{"search imei number" | titlecase}}</mat-label>
            <input matInput
                   type="text"
                   id="imei"
                   formControlName="imei"
                   (input)="onSearchPress($event.target.value, 'imei')"
            />
          </mat-form-field>
          <mat-form-field class="col-md-2 px-2" appearance="outline" [color]="'accent'">
            <mat-label>Search OEM</mat-label>
            <mat-select (selectionChange)="onOemChange($event)" formControlName="oem">
              <mat-option [value]="'all'">All</mat-option>
              <mat-option *ngFor="let oem of oems" [value]="oem.name">
                {{oem.name | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-2 px-2" appearance="outline" [color]="'accent'">
            <mat-label>{{"search firmware" | titlecase}}</mat-label>
            <input matInput
                   type="text"
                   id="firmware"
                   formControlName="firmware"
                   (input)="onSearchPress($event.target.value, 'firmware')"
            />
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div  *ngIf="noData; then noStats else showData"></div>
  <ng-template #showData>
    <div class="col-md-12 minH-75">
      <div class="table-responsive" matSort (matSortChange)="sortData($event)" matSortDirection="{{order}}"
           matSortActive="{{order_by}}" matSortDisableClear>
        <table class="table table-hover" style="font-size: 12px;">
          <thead>
          <tr>
            <th scope="col" class="border-top-0">Serial Number</th>
            <th scope="col" class="border-top-0">Phone No.</th>
            <th scope="col" class="border-top-0">IMEI No.</th>
            <th scope="col" class="border-top-0">IMSI No.</th>
            <th scope="col" class="border-top-0">OEM</th>
            <th scope="col" class="border-top-0" mat-sort-header="firmware">Firmware</th>
            <th scope="col" class="border-top-0" mat-sort-header="last_connected">Last Communication</th>
            <th scope="col" class="border-top-0" >#</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.serial_number}}</td>
            <td>{{vehicle.mobile}}</td>
            <td>{{vehicle.imei_number}}</td>
            <td>{{vehicle.imsi_number}}</td>
            <td>{{vehicle.oem}}</td>
            <td>{{vehicle.firmware}}</td>
            <td>{{(vehicle.last_connected) ? (vehicle.last_connected  | midateformat : 'long') : 'Not connected'}}</td>
            <td>
              <button mat-stroked-button [routerLink]="['/devices/'+ vehicle.serial_number]">View Details</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <mi-pagination [totalItems]="totalRecords" [pageSize]="itemPerPage" [pageIndex]="pageIndex" (page)="onPageChange($event)"></mi-pagination>
    </div>
  </ng-template>
  <ng-template #noStats>
    <div class="col-md-12">
      <div class="alinger">
        <div class="aligner-item">
          No data available
        </div>
      </div>
    </div>
  </ng-template>
</div>
