<h3 mat-dialog-title class="text-danger">
    <span style="display: block;"><i class="material-icons">warning</i>
        <span style="font-size: 26px;vertical-align: super">
            {{(data.heading) ? data.heading : 'error' | titlecase }}
        </span>
    </span>
</h3>
<div mat-dialog-content>
    <h5>{{data.message}}</h5>
</div>
<div mat-dialog-actions>
    <button type="submit" mat-flat-button color="accent" matDialogClose cdkFocusInitial>{{data.button}}</button>
</div>
