@import '~@angular/material/theming';

// always include only once per project
@include mat-core();


.escort-theme {
  @import 'theme/escort/escort.scss';
  @include angular-material-theme($rollr);
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
label {
  font-size: 14px;
}
h1, h2, h3, h4 {
  font-weight: normal;
}

html {
  height: 100%;
}

.navbar-brand {
  font-weight: bold;
}

[ng-reflect-router-link] {
  cursor: pointer;
  outline: none;
}
.alinger{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 28vh;
}
.aligner-item {
  max-width: 50%;
}
.aligner-item--top {
  align-self: flex-start;
}
.aligner-item--bottom {
  align-self: flex-end;
}
.device-list {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0;
    border-top: 0.375em solid transparent;
  }
  .mat-form-field-label {
    font-size: 14px;
  }
}
.minH-60 {
  min-height: 60vh;
}
