<div class="device-list">
  <div class="col-md-12 border-bottom px-0">
    <div class="pt-3 row mx-0 pl-0">
      <div class="col-md-3 pl-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item active"><a href="javascript:void(0);" [routerLink]="['/devices/list']">Devices</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{serial_number}}</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-9">
        <form class="row" [formGroup]="eventFilter">
          <div class="col-md-3 offset-3" style="height: 50px!important"> </div>
          <mat-form-field class="col-md-2 px-2 " style="height: 45px!important;" appearance="outline" [color]="'accent'">
            <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
          <mat-form-field class="col-md-2 px-2" appearance="outline" [color]="'accent'">
            <mat-label>{{"search event name" | titlecase }}</mat-label>
            <input matInput
                   type="text"
                   id="event_name"
                   formControlName="event_name"
                   (input)="onSearchPress($event.target.value)"
            />
          </mat-form-field>
          <div class="float-right col-md-2 px-2 float-lg-rights" style="padding-left: 20px!important;padding-top:5px!important; ">
            <app-back-button></app-back-button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div  *ngIf="noData; then noStats else showData"></div>
  <ng-template #showData>
    <div class="col-md-12 minH-75">
      <div class="table-responsive" >
        <table class="table table-hover" style="font-size: 12px;" matSort (matSortChange)="sortData($event)" matSortDirection="{{order}}"
               matSortActive="{{order_by}}" matSortDisableClear >
          <thead>
          <tr>
            <th scope="col" class="border-top-0">S.No</th>
            <th scope="col" class="border-top-0">Event Name</th>
            <th scope="col" class="border-top-0">Event Happened</th>
            <th scope="col" class="border-top-0" mat-sort-header="e_received">Event Received</th>
            <th scope="col" class="border-top-0">Received Mode</th>
          </tr>
          </thead>
          <tbody  id="sosEvents">
          <ng-container *ngFor="let event of filter_events; let i = index;">
            <tr data-toggle="collapse" [attr.data-target]="'#' + event.e_name + '_' + i" aria-expanded="true">
              <td>{{i+1}}</td>
              <td>{{event.e_name | translate}}</td>
              <td>{{event.e_occur | midateformat : 'long'}}</td>
              <td>{{event.e_received | midateformat : 'long'}}</td>
              <td>{{event.e_receive_channel}}</td>
            </tr>
            <tr id="{{event.e_name + '_' + i}}" class="collapse" data-parent="#sosEvents">
              <td colspan="4">
                <div class="ml-2" style="display: list-item;">
                  <span class="text-dark table-warning p-1 rounded font-weight-bold">{{(event.e_name) ? (event.e_name) : 'N/A'}}</span>
                  <span class="text-dark"> event occurs at </span>
                  <span class="text-dark table-warning p-1 rounded font-weight-bold">{{(event.e_occur) ? (event.e_occur | midateformat : 'long') : 'N/A'}}</span>
                </div>
                <div class="ml-2" style="display: list-item;">
                  <span class="text-dark">Event received at care button server on </span>
                  <span class="text-dark table-warning p-1 rounded font-weight-bold">{{(event.e_received) ? (event.e_received | midateformat : 'long') : 'N/A'}}</span>
                  <span class="text-dark"> via </span>
                  <span class="text-dark table-warning p-1 rounded font-weight-bold">{{(event.e_receive_channel) ? event.e_receive_channel : 'N/A'}}</span>
                </div>
                <span *ngIf="event.e_name === 'btn_pressed'">
                  <div class="ml-2" style="display: list-item;">
                    <span class="text-dark">Call center api call at </span>
                    <span class="text-dark table-warning p-1 rounded font-weight-bold">{{(event.api_ct) ? (event.api_ct | midateformat : 'long') : 'N/A'}}</span>
                    <span class="text-dark"> and got response </span>
                    <span class="text-dark table-warning p-1 rounded font-weight-bold">{{(event.api_rmsg) ? event.api_rmsg : 'N/A'}}</span>
                    <span class="text-dark"> around </span>
                    <span class="text-dark table-warning p-1 rounded font-weight-bold">{{(event.api_rt) ? (event.api_rt | midateformat : 'long') : 'N/A'}}</span>
                  </div>
                  <div class="ml-2" style="display: list-item;">
                    <span class="text-dark">Call status was </span>
                    <span class="text-dark table-warning p-1 rounded font-weight-bold">{{(event.api_csts) ? event.api_cduration : 'N/A'}} [ call duration {{(event.api_cduration) ? event.api_cduration : 0}} seconds ]</span>
                  </div>
                </span>
              </td>
              <td colspan="1" *ngIf="false">
                <button mat-flat-button color="accent" (click)="showDebugData(event, i)">Debug Data</button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
  <ng-template #noStats>
    <div class="col-md-12">
      <div class="alinger">
        <div class="aligner-item">
          No event is available for this month
        </div>
      </div>
    </div>
  </ng-template>

</div>
